name: CI/CD Pipeline for Lambda

on:
  push:
    branches:
      - main  # O la rama que estés utilizando para despliegues

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip

    - name: Package Lambda function
      run: |
        zip -r function.zip funcion.py

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
        
    - name: Deploy to AWS Lambda
      if: success()
      run: |
        aws lambda update-function-code --function-name funcion --zip-file fileb://function.zip

    - name: Run AWS tests
      run: |
        aws lambda invoke --function-name prueba output.txt
        cat output.txt
